<!Doctype>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href=<%= css %> rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

  <div id='header' class='row'>
    <div class='column-60'>
      <div id='logo'><a href='/'>[a forum]</a></div>

    </div><!-- Comment here removes auto whitespace between inline blocks
    --><div class='column-40'>
      <div id='nav_area'>
        <% if (false) {%>
          logged in....
     <% } else {%>
       <span class='nav_item'><a href='/signup'>Sign Up</a></span><!--
    --><span class='nav_item'><a href='/login'>Login</a></span><!--
    --><span class='nav_item'><a href='/about'>About</a></span>
       <% } %>
      </div>
      <div id='stat_area'>
        Today's goal: 0 Users!
      </div>
    </div>
  </div>
