<% include partitions/header %>

  <div id='signup_wrapper'>
    <form>

      <div class='row'>
        <div class='column-40'>
          Email
        </div><!--
        --><div class='column-60'>
          <input name='email'>
        </div>
      </div>
      <div class='row'>
        <div class='column-40'>
          First Name
        </div><!--
        --><div class='column-60'>
        <input name='first_name'>
        </div>
      </div>
      <div class='row'>
        <div class='column-40'>
          Last Name
        </div><!--
        --><div class='column-60'>
        <input name='last_name'>
        </div>
      </div>
      <div class='row'>
        <div class='column-40'>
          Username
        </div><!--
        --><div class='column-60'>
        <input>
        </div>
      </div>
      <div class='row'>
        <div class='column-40'>
          Password
        </div><!--
        --><div class='column-60'>
        <input type='password'>
        </div>
      </div>
      <div class='row'>
        <div class='column-40'>
          Confirm Password
        </div><!--
        --><div class='column-60'>
        <input type='password'>
        </div>
      </div>
      <br><br>
      <button>Create Account</button>
      <input type='submit' value='Sumbit'>Submit</input>
    </form>
  </div>

<% include partitions/footer %>
