* { margin: 0; padding: 0;}

/* Styling for header */

#header a { text-decoration: none; color: inherit;}
div[class^='column'] { vertical-align: top;box-sizing: border-box; display: inline-block; }
.nav_item { margin: 1.16667%; box-sizing: border-box; display: inline-block; width: 31%; color: #36453B; background-color: #C2C1A5; text-align: center;}
.row { vertical-align: top; }
.column-20 { width: 20%; }
.column-40 { width: 40%; }
.column-50 { width: 50%; }
.column-60 { width: 60%; }
.column-80 { width: 80%; }

#logo { font-size: 400%; padding-left: 10%;}
#nav_area{ width: 100%; white-space: nowrap; box-sizing: border-box;}
#stat_area { text-align: center;}
#header { background-color: #36453B; color: #F5F9E9; font-family: 'Oswald', sans-serif;}

/* Styling for sign up area */
input { width: 100%; }
button { background-color: #36453B; border: none; padding: 5px; color: #F5F9E9;}
button:hover { border: solid 1px #36453B; background-color: white; color: #36453B; }
form div.row { margin: 10px 0; }
#signup_wrapper { padding: 50px 0; width: 30%; margin: auto; text-align: center; }

/* Styling for Footer */
#footer { position: absolute; width: 100%;  bottom: 0; height: 75px; background-color: #36453B; color: white; text-align: center; font-family: 'Oswald', sans-serif;}
